<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907311944795-2bc6hsiqusih0nevdh7g540k73s745l1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907311944795-2bc6hsiqusih0nevdh7g540k73s745l1</string>
	<key>API_KEY</key>
	<string>AIzaSyAUAxPgNXX1aE1P7RrtYlFsKleo08fuV50</string>
	<key>GCM_SENDER_ID</key>
	<string>907311944795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bilalmuftuoglu.MarketAppSystem</string>
	<key>PROJECT_ID</key>
	<string>marketappsystem</string>
	<key>STORAGE_BUCKET</key>
	<string>marketappsystem.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907311944795:ios:01415db64d51ee09495b7e</string>
</dict>
</plist>